mixin s-advantages()
	// start s-advantages
	+b.s-advantages.section.block-with-lazy#s-advantages&attributes(attributes)
		.container
			+e.wrapper.row
				.col-12.col-sm-6.col-md-4.col-xl-2.d-flex.justify-content-center(class="wow fadeInUp" data-wow-duration="2s")
					+e.item
						+e.picture-block
							+e.IMG.image(src="img/advantages-1.png" alt="")
						+e.title честность
						+e.text Мы всегда предельно открыты и честны с нашими партнерами
				.col-12.col-sm-6.col-md-4.col-xl-2.d-flex.justify-content-center(class="wow fadeInUp" data-wow-duration="2s")
					+e.item
						+e.picture-block
							+e.IMG.image(src="img/advantages-2.png" alt="")
						+e.title надежность
						+e.text На рынке IT услуг с 2013 года
				.col-12.col-sm-6.col-md-4.col-xl-2.d-flex.justify-content-center(class="wow fadeInUp" data-wow-duration="2s")
					+e.item
						+e.picture-block
							+e.IMG.image(src="img/advantages-3.png" alt="")
						+e.title Опыт
						+e.text Более 3000 довольных клиентов
				.col-12.col-sm-6.col-md-4.col-xl-2.d-flex.justify-content-center(class="wow fadeInUp" data-wow-duration="2s")
					+e.item
						+e.picture-block
							+e.IMG.image(src="img/advantages-4.png" alt="")
						+e.title Профессионализм
						+e.text Мы знаем свое дело от А до Я
				.col-12.col-sm-6.col-md-4.col-xl-2.d-flex.justify-content-center(class="wow fadeInUp" data-wow-duration="2s")
					+e.item
						+e.picture-block
							+e.IMG.image(src="img/advantages-5.png" alt="")
						+e.title Гибкость
						+e.text С нами все проблемы решаемы
				.col-12.col-sm-6.col-md-4.col-xl-2.d-flex.justify-content-center(class="wow fadeInUp" data-wow-duration="2s")
					+e.item
						+e.picture-block
							+e.IMG.image(src="img/advantages-6.png" alt="")
						+e.title Прозрачность
						+e.text Официальное партнерство и задокументированное сотрудничество
	// end s-advantages