mixin s-service()
	// start s-service
	+b.s-service.section.block-with-lazy#s-service&attributes(attributes)
			.container
				+e.wrapper.row
					+e.item.col-12.col-xl(class="wow fadeInLeft" data-wow-duration="1s")
						+e.image-block
							+e.image-wrapper
								+pic("","s-service-1","png")(class="s-service-img")
								+pic("","roller","png")(class="roller-block roller roller-left")
								+pic("","roller","png")(class="roller-block roller roller-right")
						+e.UL.list
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>190</span> руб.
								+e.item-text Сборка и настройка
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>60</span> руб/мес
								+e.item-text Техническое обслуживание
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>60</span> руб.
								+e.item-text Ремонт видеокарт
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>40</span> руб/мес
								+e.item-text Удаленный аудит
					+e.item.col-12.col-xl(class="wow fadeInRight" data-wow-duration="2s")
						+e.image-block
							+e.image-wrapper
								+pic("","s-service-2","png")(class="s-service-img")
								+pic("","roller-2","png")(class="roller-block roller big-roller")
						+e.UL.list
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>80</span> руб.
								+e.item-text Сборка и настройка
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>50</span> руб/мес
								+e.item-text Техническое обслуживание
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>200</span> руб.
								+e.item-text Ремонт ASIC
							+e.LI.list-item
								+e.item-text <strong>от</strong><span>40</span> руб/мес
								+e.item-text Удаленный аудит
	// end s-service