mixin s-service-title()
	// start s-service-title
	+b.SECTION.s-service-title.section.block-with-lazy#s-service-title&attributes(attributes)
		.container
			h2 Техническое обслуживание
			+e.subtitle С нами все работает как швейцарские часы
	// end s-service-title