mixin s-swiper()
	// start s-swiper
	+b.SECTION.s-swiper.section.block-with-lazy#s-swiper&attributes(attributes)
		//- +pic('bg',"s-swiper_bg","png")
		.container
			.swiper-container(class="wow fadeInUp" data-wow-duration="2s")
				+e.wrapper.swiper-wrapper
					.swiper-slide
						+e.item
							+pic("","swiper-img-1","png")
							+e.item-title Персональный<br>консалтинговый план.
							+e.item-text Составим<br>персональный план<br>в зависимости от ваших<br>интересов и целей.
							+e.item-price Договорная
							+e.btn.main-btn Подробнее
					.swiper-slide
						+e.item
							+pic("","swiper-img-2","png")
							+e.item-title Криптовалюты<br>Как это работает?
							+e.item-text Вы узнаете всю необходимую<br>информацию о криптовалютах<br>простым языком и поймете,<br>почему за этой индустрией будущее.
							+e.item-price.number 99.00<span>руб.
							+e.btn.main-btn Подробнее
					.swiper-slide
						+e.item
							+pic("","swiper-img-3","png")
							+e.item-title Заработок на криптовалютах<br>Здесь и сейчас!
							+e.item-text Мы с радостью поделимся нашим<br>многолетним опытом майнинга криптовалют<br>и расскажем обо всех подводных камнях.<br>Поможем вам зарабатывать, а не терять! 
							+e.item-price.number 149.00<span>руб.
							+e.btn.main-btn Подробнее
					.swiper-slide
						+e.item
							+pic("","swiper-img-4","png")
							+e.item-title Долгосрочные ивестиции<br>Для тех, кто умеет ждать.
							+e.item-text Стратегия<br>холодного расчёта и абсолютной<br>безопасности ваших<br>инвестиций.
							+e.item-price.number 199.00<span>руб.
							+e.btn.main-btn Подробнее
					.swiper-slide
						+e.item
							+pic("","swiper-img-5","png")
							+e.item-title Всегда рядом!
							+e.item-text Вы уже точно определились<br>с желанием построить капитал<br>в криптоиндустрии и вам нужен надежный<br>консалтинговый партнер 24/7 ?<br>Мы рады им стать! 
							+e.item-price.number 99.00<span>руб.
							+e.btn.main-btn Подробнее


	// end s-swiper